
<h1>Here is a cat!</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Birth Date</td>
    <td>Color</td>
    <td>Sex</td>
    <td>Description</td>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<table>
  <tr>
    <td>Booking ID</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
    <td>Approvals</td>
  </tr>
  <% CatRentalRequest.all.order(:start_date).each do |crr| %>
    <% if crr.cat_id == @cat.id %>
      <tr>
        <td><%= crr.id %></td>
        <td><%= crr.start_date %></td>
        <td><%= crr.end_date %></td>
        <td><%= crr.status %></td>
        <td>
          <form action="<%= approve_cat_rental_request_url(@cat.id) %>" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" name="" value="Approve">
          </form>
          <form action="<%= deny_cat_rental_request_url(@cat.id) %>" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" name="" value="Deny">
          </form>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
    
